body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.mainDiv-App .header{
  background: #123212;
}
.body{

}
.footer{

}
.body ul li {

}
.body ul li span {
  
}
.footer input{

}
.footer button {

}
